
// colors
$beige: #afd5f3;
$mainYellow: #55a6ff;
$mainBlue: #0049b2;
$lightOrange: #EE964B;
$darkOrange: #F95738;
$babyBlue: #5eafff;
$univGold: #e8d2a5;
$univDarkBlue: #001b59;
$univDefaulttext: #6c84af;

//headings
// $sectionHeadings: 4rem;



